/* Bacura KYOTO Lab CSS*/
/* Core ver 0.00*/

/* ================= COMMON ================= */
/* ================= COMMON ================= */
/* ================= COMMON ================= */
A{ text-decoration:none; }
A:link{ color:white; }
A:hover{ color:white; }
A:visited{ color:white; }
A:active{ color:white; }

H4{ font-weight:bold; }

.body{
	background-color:#281a14;
	font-family:'游ゴシック体', '游ゴシック', 'Yu Gothic', 'YuGothic';
}

.world_frame{
	position:static;
	visibility:visible;
	display:inline-block;
	width:100%;
	padding-top:1.0em;
	padding-bottom:1.0em;
	z-index:0;
}

.bg_layer{
	position:relative;
}

.contents_layer{
	position:absolute;
	width:100%;
	top:0;
}

.header_base{
	padding:1.0em;
	display:block;
	text-align:right;
	color:white;
	font-size:1.2em;
	font-weight:bold;
	line-height:2em;
	z-index:20;
	opacity:0.50;
}


.nav_base{
	display:block;
	padding:2.0em;
	text-align:left;
	text-shadow: 2px 2px 1px black;
	color:white;
	font-size:1.2em;
	font-weight:bold;
	line-height:2.5em;
	z-index:20;
}

.article_base{
	display:block;
	top:2em;
	float:none;
	color:white;
	font-size:1.8em;
	font-weight:bold;
	text-align:center;
	z-index:20;
	opacity:1.00;
}

.article{
	background-color:rgba(40,33,20,0.8);
	margin:0.0em;
	padding:1.0em;
	font-family:'游ゴシック体', '游ゴシック', 'Yu Gothic', 'YuGothic';
	color:white;
	font-size:1.6em;
	line-height:1.2em;
}

